@media only screen and (max-width: 600px) {
/*overall setting*/
    h2{
        font-size: 1.75rem;
    }
    h3{
        font-size: 1.25rem;
    }
    p{
        font-size: 0.9rem;
        line-height: 1.6rem;
        
    }
    
    
/*Start of index*/
    
    .slogan p, .slogan span{
        color: #333;
        font-size: 1.75rem;
        margin: 0;
        font-weight: 300;
        letter-spacing: 1.3px;
        margin-bottom: 25px;
    } 
    
    .main_graphic img{
        width: 100%;
        transform: translateX(10%) ;
        position: absolute;
        bottom: -5%;
        z-index: 1;
    }
    
    .slogan{
        left: 10%;
    }
    .project{
        width: 100%;
        height: 300px;
    }
    .content p{
        padding: 15px 10% 15px 10%;
    }
    
/*Start of light*/
    .light_blank{
        height: 100px;
    }
    
    .light_text p{
        padding-top: 15px; 
        padding-left: 0;
    }
    
    .light_monitor, .light_grouping{
        flex-direction: column;
    }
    .light_monitor .light_img{
        order: 2;
    }
    .light_monitor img, .light_grouping img{
/*        width: 100%;*/
        margin: 0 auto 20px auto;
        padding: 0;
    }
    
    .light_monitor .light_text, .light_grouping .light_text{
        margin: 20px auto 0 auto;
        padding: 5% 5% 0 5%;
    }
    
    .light_monitor .light_text p, .light_grouping .light_text p{
        margin: 0;
        padding: 0;        
    }
    .light_monitor .light_text h3{
        text-align: center;
    }
    .light_rr h3{
        margin: auto;
    }
}